APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tshe
DB_USERNAME=root
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_HOST=smtp.qq.com
MAIL_PORT=465
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_ENCRYPTION=ssl
MAIL_USERNAME=
MAIL_PASSWORD=

THEME_COLOR=#db5945
POINT_RATIO=1

ALIPAY_APP_ID=
ALIPAY_NOTIFY_URL=
ALIPAY_RETURN_URL=
ALIPAY_PUBLIC_KEY=
ALIPAY_PRIVATE_KEY=

QQ_ID=
QQ_SECRET=
QQ_REDIRECT_URI=
