@font-face {
    font-family: "文悦新青年体";
    src: url("/font/文悦新青年体.otf") format('opentype');
}

@font-face {
    font-family: "微软雅黑Bold";
    src: url("/font/微软雅黑Bold.ttf") format('truetype');
}

@font-face {
    font-family: "华文行楷";
    src: url("/font/华文行楷.ttf") format('truetype');
}

@font-face {
    font-family: "华文中宋";
    src: url("/font/华文中宋.ttf") format('truetype');
}

@font-face {
    font-family: "隶书";
    src: url("/font/隶书.ttf") format('truetype');
}

@font-face {
    font-family: "Century725 Cn BT";
    src: url("/font/Century725 Cn BT.ttf") format('truetype');
}

@font-face {
    font-family: "Jillian Gothic";
    src: url("/font/Jillian Gothic.ttf") format('truetype');
}

@font-face {
    font-family: "AmarilloUSAF";
    src: url("/font/AmarilloUSAF.ttf") format('truetype');
}

@font-face {
    font-family: "Diploma";
    src: url("/font/Diploma.ttf") format('truetype');
}

@font-face {
    font-family: "DisneyPark";
    src: url("/font/DisneyPark.ttf") format('truetype');
}
